/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.mantis-novo {
	background-color: #fcbdbd;	
}

.mantis-retorno{

	background-color: #E3120C;
}
.mantis-refatoracao{

	background-color: #ffcd85;
}
.mantis-aprovado{

	background-color: #fff494;
}
.mantis-atribuido{

	background-color:#c2dfff;
}
.mantis-teste{

	background-color: #DEBEFF;
}
.mantis-revisao{

	background-color: #d2f5b0;
}
.mantis-fechado{

	background-color: #B0B2AD;
}

.mantis-impedimento{

	background-color: #D7AF72;
}

.claro {
	color:#9BAADB;
}

.coluna-mantis{
	width: 5%;
}
.coluna-resumo{
	width: 45%;
}
.coluna-projeto{
	width: 10%;
}
.coluna-atribuido{
	width: 10%;
}
.coluna-cliente{
	width: 30%;
}

/* #menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
 */

